
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}


/* Banner style */
.banner{
    display: flex;
    height: 550px;
    background-color: rgba(229, 84, 115, 0.10);
}
.banner img{
      width: 500px;
    height: 550px;
    padding-right: 50px;   
   
}
.banner .text{
    text-align: left;
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 96px;
}
.banner h3{
    font-size: 50px;
    font-weight:bolder;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    
}
 .button{
    text-align: center;
    background-color: #E55473;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}


/* Featured flower */
.featured-flower{
    margin-top: 5%;
    text-align: center;
}
.featured-flower article{
    /* margin-left:20%; */
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    

}
.featured-flower img{
    /* gap: 10px; */
    height: 300px;
    width:300px;
    /* box-shadow: 2px 2px 2px gray; */
    /* margin: 30px; */
}
.featured-flower h5{
    text-decoration: underline;
}
.featured-flower h4{
    font-size: 24px;
}
.featured-flower p{
    color: gray;
}
.pink{
    border-radius: 300px 300px 0px 0px;
    background-color:rgba(167, 33, 98, 0.15); ;
}
.water{
    border-radius: 300px 300px 0px 0px;
    background-color:rgba(5, 151, 160, 0.15);
}
.green{
    border-radius: 300px 300px 0px 0px;
    background-color:rgba(71, 125, 17, 0.15);
}

/* Hot deals */
.hot-deals article{
    margin: 10%;
    display: flex;
}
.hot-deals{
    margin-top: 5%;
    padding-top: 10px;
    text-align: center;
    background-color: rgba(229, 84, 115, 0.10);
    /* height: 400px; */
    /* width: 1922px;
height: 620px; */
}
.hot-deals h3{
    padding-top: 50px;
    padding-left: 50px;
}
.hot-deals img{
   margin-left: 15%;
   margin-bottom: 10%;
    width: 220px;
}
.hot-deals p{
    color: gray;
}

/* Instragran style */

.instragram{
    margin-top: 50px;
    text-align: center;
}
.instragram h4{
    font-size: 24px;
}
.instragram article{
    justify-content: space-between;
}
.instragram img{
    width: 250px;
    height: 250px;
    margin: 10px;
}
.instragram p{
    color: gray;
}

/* Latest Deals */
.latest-deals{
    padding-top: 5%;
    text-align: center;
    margin: 10%;
    background-image: url('images/Rectangle\ 9.png');
    height: 250px;
}
.latest-deals .email{
   width: 400px;
   height: 40px;
   border-radius: 5px;
   border: white;
   padding: 5px;
}
.latest-deals .btn{
    margin-left: 5px;
    height: 40px;
    border-radius: 3px;
    border: gray;
    background-color: #E55473;
    color: white;
    font-weight: 600;
}
/* Extra style */
.extra{
    display: flex;
    width: 80%;
    box-shadow: 10px 10px 10px 10px green;
    border-radius: 5px;
   margin-left: 9%;
   padding: 10px;
   background-color: aliceblue;
}
.extra-work img{
    margin-left: 20%;
    width:50% ;
}
.extra-text{
    display:grid;
   
}
.extra-text input,textarea{
    padding: 5px;
    border-radius: 5px;
}
.extra-text .button{
    border: none;
}

/* footer style */
footer{
    width: 100%;
 text-align: center;
 height: 300px;
 background-color: black;
 color: aliceblue;
}
footer span{
    color: brown;
    
}
footer h6{
    color: gray;
}
footer h3{
    font-size: 30px;
    padding-top: 20px;
    
}